<div class="wrapper">
  <div class="scrollable">
    <section class="image-item">
      <img src="https://source.unsplash.com/whOkVvf0_hU/" alt="" />
    </section>
    <section class="image-item">
      <img src="https://source.unsplash.com/whOkVvf0_hU/" alt="" />
    </section>
    <section class="image-item">
      <img src="https://source.unsplash.com/whOkVvf0_hU/" alt="" />
    </section>
    <section class="image-item">
      <img src="https://source.unsplash.com/whOkVvf0_hU/" alt="" />
    </section>
  </div>
</div>

<div class="webgl-canvas">
  <canvas id="webgl-canvas" class="webgl-canvas__body"></canvas>
</div>
<script src="/assets/js/index.js"></script>
