<%- include('./_modules/_header.ejs', {
  style: 'imageList',
}) %>

<div style="background: black; height: 100px;"></div>
<section class="section">
  <canvas class="webgl-canvas"></canvas>
</section>
<div style="background: black; height: 100px;"></div>

<!-- シェーダー -->
<script id="v-shader" type="x-shader/x-vertex">
  varying vec2 vUv;
  uniform float uTime;

  float PI = 3.1415926535897932384626433832795;

  void main() {
    vUv = uv;
    vec3 pos = position;

    float offset = 0.01;
    float freq = 0.05;
    float amp = 5.0;
    pos.x = pos.x + sin(pos.y * offset + uTime * freq * PI) * amp;

    gl_Position = projectionMatrix * modelViewMatrix * vec4(pos, 1.0);
  }
</script>
<script id="f-shader" type="x-shader/x-fragment">
  varying vec2 vUv;
  uniform sampler2D uTexture;
  uniform float uImageAspect;
  uniform float uPlaneAspect;

  void main() {
    vec2 ratio = vec2(
      min(uPlaneAspect / uImageAspect, 1.0),
      min((1.0 / uPlaneAspect) / (1.0 / uImageAspect), 1.0)
    );

    vec2 fixedUv = vec2(
      (vUv.x - 0.5) * ratio.x + 0.5,
      (vUv.y - 0.5) * ratio.y + 0.5
    );

    vec3 texture = texture2D(uTexture, fixedUv).rgb;
    gl_FragColor = vec4(texture, 1.0);
  }
</script>
<script src="/assets/js/imageList.js"></script>

<%- include('./_modules/_footer.ejs') %>
