<%- include('./_modules/_header.ejs', {
  style: 'imageList',
}) %>

<div style="background: black; height: 500px;"></div>
<section class="section">
  <canvas class="webgl-canvas"></canvas>
</section>
<div style="background: black; height: 500px;"></div>

<!-- シェーダー -->
<script id="v-shader" type="x-shader/x-vertex">
  varying vec2 vUv;
  uniform float uTime;

  float PI = 3.14;

  void main() {
    vUv = uv;
    vec3 pos = position;

    float offset = 0.01;
    float freq = 0.05;
    float amp = 10.0;
    pos.y = pos.y + sin(pos.x * offset + uTime * freq * PI) * amp;

    gl_Position = projectionMatrix * modelViewMatrix * vec4(pos, 1.0);
  }
</script>
<script id="f-shader" type="x-shader/x-fragment">
  varying vec2 vUv;
 
  uniform sampler2D uTexture;

  void main() {
    vec3 color = texture2D( uTexture, vUv ).rgb;

    gl_FragColor = vec4( color, 1.0 );
  }
</script>
<script src="/assets/js/imageList.js"></script>

<%- include('./_modules/_footer.ejs') %>
