<%- include('./_modules/_header.ejs', {
  style: 'scrollZ',
}) %>

<div class="main">
  <div id="score">
    <p id="percent">0</p>
    <!-- <p id="scroll">0</p> -->
  </div>

  <canvas id="bg"></canvas>
  <div class="content content--1">
    <div class="box">
      <div class="box__inner">
        <h1 class="title">section1</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum libero nostrum, laboriosam cumque ipsam et reiciendis modi veniam dicta? Soluta illum alias accusamus tenetur aut obcaecati consectetur eligendi voluptas fugiat?</p>
      </div>
    </div>
  </div>
  <section class="content content--2">
    <div class="box">
      <div class="box__inner">
        <h2 class="title">section2</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum libero nostrum, laboriosam cumque ipsam et reiciendis modi veniam dicta? Soluta illum alias accusamus tenetur aut obcaecati consectetur eligendi voluptas fugiat?</p>
      </div>
    </div>
  </section>
  <section class="content content--3">
    <div class="box">
      <div class="box__inner">
        <h2 class="title">section3</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum libero nostrum, laboriosam cumque ipsam et reiciendis modi veniam dicta? Soluta illum alias accusamus tenetur aut obcaecati consectetur eligendi voluptas fugiat?</p>
      </div>
    </div>
  </section>
  <section class="content content--4">
    <div class="box">
      <div class="box__inner">
        <h2 class="title">section4</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum libero nostrum, laboriosam cumque ipsam et reiciendis modi veniam dicta? Soluta illum alias accusamus tenetur aut obcaecati consectetur eligendi voluptas fugiat?</p>
      </div>
    </div>
  </section>
</div>

<script src="/assets/js/scrollZ.js"></script>

<%- include('./_modules/_footer.ejs') %>
