<%- include('./_modules/_header.ejs', {
  style: 'scrollZ',
}) %>

<div class="main">
  <div id="score">
    <p id="percent">0</p>
    <!-- <p id="scroll">0</p> -->
  </div>

  <canvas id="bg"></canvas>
  <div class="content1 content"></div>
  <div class="content2 content"></div>
  <div class="content3 content"></div>
  <div class="content4 content"></div>
</div>

<script src="/assets/js/scrollZ.js"></script>

<%- include('./_modules/_footer.ejs') %>
