@use './_reset';
@use './_mixin' as m;

// modeuls
@use './_modules/_loading';

.stage {
  width: 100%;
  height: 100vh;
}

.controller {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 20px;
}
.button {
  padding: 5px 20px;
  border: 1px solid #333;
  border-radius: 30px;
}
